* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
}

nav {
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: flex-end;
}

.nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    font-family: sans-serif;
}

.nav_list > li {
    padding-left: 25px;
}

.logo_ahcr {
    margin-right: auto;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.popular {
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: inline-grid;
    grid-template-areas: 
        "img    img"
        "heading    para"
    ;

}

.popular_img {
    width: 100%;
    height: 100%;
    grid-area: img;
    object-fit: contain;
}

.heading_popular_img {
    grid-area: heading;
    width: 225px;
    height: 250px;  
}

.para {
    grid-area: para;
    width: 225px;
    height: 250px;
}

.readmore {
    width: 150px;
    height: 35px;
    background: black;
    color: white;
}
