* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
}

nav {
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: flex-end;
}

.nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_list > li {
    padding-left: 25px;
}

.logo_ahcr {
    margin-right: auto;
    display: flex;
    align-items: center;
}